.kanban-col{
    min-height : 300px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

.kanban-task {
    cursor : grab;
    margin-bottom: 10px;
}

.kanban-col.drag-over { /* CORREGIDO: kamban-col -> kanban-col */
    background-color: #E0F7FA;
    border-color: #007BFF;
}

.nav-tabs .nav-link.active { /* CORREGIDO: nvv-tabs -> nav-tabs */
    background-color: #0D6EFD !important;
    color: white !important;
}